<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem
            id="hr_period_configure"
            parent="payroll_base.menu_payroll_configure"
            name="Payroll Periods"
            groups="base.group_hr_manager"
            sequence="50"
        />

    </data>
</openerp>
