<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <!-- Root Menus -->

        <menuitem
            id="menu_payroll_root"
            name="Payroll"
            sequence="45"
        />

        <menuitem
            id="menu_payroll_usage"
            parent="menu_payroll_root"
            name="Payroll"
            sequence="30"
        />
        <menuitem
            id="menu_payroll_configure"
            parent="menu_payroll_root"
            name="Configuration"
            groups="base.group_hr_manager"
            sequence="30"
        />
        <menuitem
            id="menu_payroll_structure_configure"
            parent="menu_payroll_configure"
            name="Payroll Structure"
            groups="base.group_hr_manager"
            sequence="45"
        />
        <menuitem
            id="menu_payroll_leaves_configure" 
            parent="menu_payroll_configure"
            name="Leaves"
            groups="base.group_hr_manager"
            sequence="40"
        />
    </data>
</openerp>
