<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <!-- Root Menus -->

        <menuitem
            id="menu_payroll_usage"
            parent="hr.menu_hr_root"
            name="Payroll"
            sequence="30"
        />
        <menuitem
            id="menu_hr_payroll_reporting"
            parent="hr.menu_hr_reporting"
            name="Payroll"
            groups="base.group_hr_manager"
        />
        <menuitem
            id="menu_payroll_structure_configure"
            parent="hr.menu_hr_configuration"
            name="Payroll Structure"
            groups="base.group_hr_manager"
            sequence="45"
        />
        <menuitem
            id="menu_payroll_leaves_configure" 
            parent="hr.menu_hr_configuration"
            name="Leaves"
            groups="base.group_hr_manager"
            sequence="40"
        />
        <record id="hr_holidays.menu_open_view_holiday_status" model="ir.ui.menu">
            <field name="parent_id" ref="menu_payroll_leaves_configure"/>
        </record>

    </data>
</openerp>
