<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem
            id="employee_benefit_configure"
            parent="payroll_base.menu_payroll_configure"
            name="Employee Benefits"
            groups="base.group_hr_manager"
            sequence="50"
        />

    </data>
</openerp>
